.column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
    width: fit-content;
}

.flex {
    display: flex;
    align-items: center;
}

iframe {
    width:100%;
    height:533px; 
    border: 1px solid #ccc;
}